@import "tailwindcss";

@theme {
  --color-background: #141414;
}

html,
body {
  background-color: var(--color-background);
  color: #fff;
}

.bg-blur {
  backdrop-filter: blur(4px);
}

.bg-blur-dark {
  backdrop-filter: blur(10px);
  background-color: #25252570;
}

.bg-blur-light {
  backdrop-filter: blur(10px);
  background-color: #ffffff9f;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
  background: transparent;
}
