@import "tailwindcss";

@theme {
  --color-background: #141414;
}

html,
body {
  background-color: var(--color-background);
  color: #fff;
}

.bg-blur {
  backdrop-filter: blur(4px);
}

.bg-blur-dark {
  backdrop-filter: blur(10px);
  background-color: #25252570;
}

.bg-blur-light {
  backdrop-filter: blur(10px);
  background-color: #ffffff9f;
}
